# Electron 国内镜像（避免 GitHub Releases 下载中断）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_mirror=https://npmmirror.com/mirrors/electron/

# npm registry 淘宝镜像
registry=https://registry.npmmirror.com/
